<div class="card">
      <div class="circle"></div>
      <img
        src="{{ product.featured_image | image_url: 'width:600, height:600' }}"
        alt="{{ product.featured_image.alt }}"
        width="{{ product.featured_image.width }}"
        height="{{ product.featured_image.height }}"
        loading="lazy">
      <div class="content">
        <h2>